{
   "eula_accepted" : "true",
   "subscription_name": "Red Hat Ansible Automation, Standard (200 Managed Nodes)",
   "features": {},
   "instance_count": 200,
   "trial": false,
   "contact_email": "",
   "contact_name": "tower user1",
   "license_type": "enterprise",
   "license_date": {{ tower_license_date }},
   "license_key": "{{ tower_license_key }}"
}
