---

- name: activate RHEL subscription
  redhat_subscription:
    state: present
    org_id: "{{ tower_rhel_org_id }}"
    auto_attach: true
    activationkey: "{{ tower_rhel_activation_key }}"
  become: true
  when: tower_rhel_subscription

- name: install prerequests for RHEL
  become: true
  yum:
    name:
      - "@Development Tools"
      - "python3"
      - "python3-devel" 
    state: "present"
  register: prerequests